<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="container">
    <div class="row">
      <div class="col s12 offset-m3 m6 offset-l4 l4">
        <button class="btn btn-large waves-effect waves-light btn-small-size" (click)="redirectToCart()">See my cart
          <i class="material-icons right">playlist_add_check</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 offset-xl2 l12 xl8">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="What are you looking for today?" id="search" type="text" [(ngModel)]="keywords"
                   class="validate" required>
            <label for="search">Search</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 offset-m3 m6 offset-l4 l4">
        <button class="btn btn-large waves-effect waves-light btn-small-size" (click)="redirectToResults()" type="submit" name="action">
          Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
